<%- include ('partials/header') %>
<body>
    <%- include ('partials/navbar') %>
    <div class="container">
        <% perguntas.forEach(pergunta => { %>
            <p><%= pergunta.titulo %></p>   
       <% })%>
    </div>
</body>
<%- include ('partials/footer') %>
